// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$custom-blue-1: #264ECA;
$custom-full-white: #fff;
$custom-red-1: #E74C3C;
$custom-red-2: rgb(182 53 53);
$custom-orange-1: #CC7A00;
$custom-gray-1: #F5F5F5;
$custom-green-1: #2ECC71;
$custom-green-2:#27AE60;

$custom-text-primary: $custom-blue-1;
$custom-text-secondary: $custom-gray-1;
$custom-text-success: $custom-green-1;
$custom-text-danger: $custom-red-1;
$custom-text-danger-2: $custom-red-2;
$custom-text-color-redirect-button: $custom-text-primary;

$custom-bg-primary: $custom-blue-1;
$custom-bg-secondary: $custom-gray-1;
$custom-bg-success: $custom-green-1;
$custom-bg-danger: $custom-red-1;
$custom-bg-danger-2: $custom-red-2;
$custom-bg-redirect-button: $custom-bg-primary;
$custom-bg-white: $custom-full-white;
$custom-bg-orange-1: $custom-orange-1;

$custom-border-color-error: $custom-red-1;
$custom-border-color-error-2: $custom-red-2;

$custom-bg-owm-events: $custom-bg-primary;
$custom-bg-invited-events: $custom-green-2;